

@keyframes movingBackground {
    0% {
      background-color: #C8D9EE; 
    }
    50% {
      background-color: #7272AB; 
    }
    100% {
      background-color: #C8D9EE; 
    }
  }
  
  .moving-background {
    animation: movingBackground 10s infinite; /* Adjust duration as needed */
  }

  /*.page-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    height: 100vh;
  }
  */
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  .new-post {
    display: flex;
    align-items: center;
    border: 2px solid #000000; /* Border style and color */
    padding: 10px; /* Adjust padding as needed */
    width: 22%;
  }
  
  .logo {

    margin-right: 10px; 
  }
  
  .title {
    font-size: 24px; 
    font-weight: bold;
    margin: 0;

  }