@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    background-color: #0F1C37;
    color: #fffefe;
  }
  .light {
    background-color: #fff;
    color: #000000;
  }
  .diminished-colors {
    filter: saturate(50%) brightness(70%);
  }


  .social-media-icon.dark {
    color: #ffffff; /* Icon color in dark mode */
  }

  .light .social-media-icon {
    color: rgb(2, 2, 2); /* Icon color in light mode */
  }

  